.theme-switcher {
  position: relative;
  background: var(--neutral-toggle-clr);
  border-radius: 50px;
  width: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  padding-inline: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.theme-switcher::before {
  content: "";
  position: absolute;
  width: 18.5px;
  height: 18.5px;
  border-radius: 50%;
  background-color: var(--neutral-pattern-bg);
  left: 0;
  transform: translateX(var(--switch-circle));
  transition: background-color 0.3s ease-in-out;
}
