@font-face {
  font-family: "alata";
  src: url("../assets/fonts/static/alata-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/static/alata-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/fonts/static/JosefinSansLight.woff2") format("woff2"),
    url("../assets/fonts/static/JosefinSansLight.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
